

<div ng-controller="playgroundController as ctrl">
	<div style="margin: 2px;padding:0px; border:0px; background-color:transparent" ng-repeat="card in ctrl.cardlist" class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{animate:true}">{{card.name}}
		<img ng-src="{{card.image}}" style="width:100px" />
	</div>

	

	<!--<div class="btn btn-droppable" ng-repeat="item in ctrl.cardlist" data-drop="true" ng-model='ctrl.cardlist' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=ctrl.cardlist])'}" jqyoui-droppable="{index: {{$index}}}">
		<div class="btn btn-info btn-draggable" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list5" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.title">{{item.title}}</div>
	</div>-->
</div>
