
A1
<div ng-controller="tableController as table">
	<div ng-repeat="cardArea in table.cardAreas">
		<div class="cardArea" style="border-color: blue; border-width: 1px" ng-style="{width: cardArea.widthInPixels, height: cardArea.heightInPixels }">{{cardArea.name}}, {{ cardArea.widthInPixels}}, {{ cardArea.heightInPixels}}
			<div style="margin: 2px;padding:0px; border:0px; background-color:transparent" ng-repeat="card in cardArea.cards" class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{onStart:'table.startDragging', animate:true}" ng-click="table.openLightboxModal(cardArea.cards, $index)">
				<img ng-src="{{card.image}}" style="width:100px" />
			</div>
		</div>
	</div>
</div>