
<div ng-controller="tableController as table">
	
	<div ui-view></div>

	<div ng-hide="table.isFactionSelectionPhase()">
		<div ng-repeat="row in table.getTimes(1) track by $index" class="row">
			<div ng-model="table.positionedCardAreas" data-jqyoui-options="table.verifyCardAreaDrop" ng-repeat="positionArea in table.getTimes(1) track by $index" class="cardArea cardAreaFrame col-xs-2" style="border-color: red; min-width: 100%; max-width: 100%; min-height: 600px; max-height: 600px" data-drop="true" jqyoui-droppable></div>
		</div>
	
	BEFORE CARD AREAS
		<div ng-attr-id="{{cardArea.id}}" ng-repeat="cardArea in table.cardAreas" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{animate:true}" class="cardArea" ng-style="{left: cardArea.left, top: cardArea.top,'max-width': cardArea.widthInPixels, 'max-height': cardArea.heightInPixels}">
			<label>
				{{cardArea.name}}
			</label>

			<div class="cardAreaFrame" ng-model="cardArea.cards" data-drop="true" jqyoui-droppable="{onDrop: 'table.onCardDrop({cardAreas: table.cardAreas})', multiple:true, stack:true}" data-jqyoui-options="table.verifyCardDrop" ng-style="{'min-width': cardArea.widthInPixels, 'width': cardArea.widthInPixels, 'max-width': cardArea.widthInPixels, 'min-height': cardArea.heightInPixels, 'height': cardArea.heightInPixels, 'max-height': cardArea.heightInPixels }">

				<div ng-repeat="card in cardArea.cards" ng-attr-id="{{card.id}}" ng-style="{left: cardArea.getCardPositionLeft($index) + 'px', top: '20px'}" data-drag="card.draggable" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{onStart:'table.startDraggingCard({card: card})', onStop:'table.stopDraggingCard({card: card})', animate:true}" class="btn btn-primary card" ng-click="table.openLightboxModal(cardArea.cards, $index)">
					<img class="cardImage" ng-class="{rotated: cardArea.rotatedCards}" ng-src="{{card.image}}" />
				</div>
			</div>

			<div class="changeWidthButton">
				<button class="btn btn-primary" type="button" ng-click="cardArea.changeCardDisplay()"><div class="fa fa-fw" ng-class="{'fa-angle-double-right':cardArea.isExpandable(), 'fa-angle-double-left':!cardArea.isExpandable()}"></div></button>
			</div>
		</div>

	</div>
</div>
